<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>portalId</key>
	<string>xxxxxxx</string>
	<key>hublet</key>
	<string>xxxxx</string>
	<key>environment</key>
	<string>xxxx</string>
	<key>defaultChatFlow</key>
	<string>xxxxxxx</string>
</dict>
</plist>
